<h1 class="bg-warning bg-opacity-75 p-2 rounded-1">Login</h1>
<div class="border-dark border p-4 rounded-1">

<% if(errorMessage){ %>
    <div class="alert alert-danger" role="alert">
      <%= errorMessage %>
    </div>
  <% } %>
<form action="/login" method="post">
  <div class="mb-3">
    <label for="email" class="form-label">Email address</label>
    <input
      type="email"
      class="form-control"
      id="email"
      name = "email"
      aria-describedby="emailHelp"
      required
    />
    <div id="emailHelp" class="form-text">
      We'll never share your email with anyone else.
    </div>
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input type="password" name = "password" class="form-control" id="password" required/>
  </div>
  <button type="submit" class="btn btn-primary">Login</button>
<div class="form-text mt-3">
  <span class = "">Don't have an account! <a href="/register" style = "text-decoration: none">Register</a></span>
</div>
</form>
</div>
